* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}
header .navbar-brand {
  font-size: 36px;
  padding: 10px;
}
.fa-dice-d20:before {
  font-size: 45px;
  color: #35a22c;
}
.carousel-inner .animate__delay-1s {
  font-size: 7vh;
  line-height: 6vh;
}
.carousel-inner .animate__delay-2s {
  font-size: 3vh;
}
.h3,
h3 {
  font-weight: 700;
}
#portfolio__carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators {
  bottom: 30px;
}
.carousel-item {
  position: relative;
  height: 100vh;
}
.carousel-item::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#portfolio__carousel .carousel-indicators .active {
  background-color: #35a22c;
}

header .nav-item .nav-link {
  position: relative;
  color: white;
  margin: 0 20px;
  transition: 0.3s;
  overflow: hidden;
}
.nav-item .nav-link:hover {
  color: #35a22c;
}
.nav-item .nav-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #35a22c;
  bottom: 0px;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}
header .nav-item .nav-link:hover::after {
  transform: translateX(0px);
}
.nav-item.active .nav-link {
  color: #35a22c;
}
.nav-item.active .nav-link::after {
  transform: translateX(0px);
}

#portfolio__project .nav {
  justify-content: center;
}
.row {
  text-align: center;
  margin-right: 0%;
}
.tab-content > .active {
  display: flex;
}
#portfolio__project .card {
  border-radius: 16px;
  overflow: hidden;
}
#portfolio__project .card {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#portfolio__project .nav-pills .nav-link.active {
  background: #35a22c;
  color: white;
  border-color: #35a22c;
}
#portfolio__project .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 7px;
}
#portfolio__project .card-body {
  border: 1px solid transparent;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  transition: 0.3s;
}
#portfolio__project .card:hover .card-body {
  border-color: #35a22c;
}
.feature {
  background: url(./image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}
.feature .overplay {
  background: rgba(7, 10, 12, 0.72);
}
.feature .heading {
  position: relative;
}
.feature__item {
  padding: 40px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5;
}
.feature__item i {
  font-size: 48px;
  color: #35a22c;
}
.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.feature__item:hover {
  background: #000;
  border-color: #fff;
}
.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
/* .my-3 {
  text-align: left;
} */
.my-4 {
  text-align: left;
}
.award__bg {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  padding: 45px;
}
.award__right {
  padding: 45px 0;
}

.heading h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
  padding: 35px;
}
footer {
  background: #222222;
}
footer a {
  color: #aaa;
}
footer p {
  margin: 0;
  color: #aaa;
}
footer a:hover {
  text-decoration: none;
  color: #35a22c;
}
.footer__main i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}
.footer__main a {
  margin-right: 10px;
}
.footer__main a:last-child {
  margin-right: 0;
}
.footer__copies {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
.footer__main i:hover {
  border-color: #35a22c;
}
